{{ "custom-testimonials.css" | asset_url | stylesheet_tag}}
<script src="{{ "custom-slideshow.js"  | asset_url}}" defer=false> </script>
{% assign fontFamily = "'Inter', sans-serif" %}

{% style %}
 body {
    font-family: {{ fontFamily }};
  }
.custom-testimonials--{{ section.id }}{
    background-color: {{ section.settings.section_background }};
    padding-top : {{ section.settings.padding_top | divided_by :2 }}px;
    padding-bottom : {{ section.settings.padding_bottom | divided_by :2 }}px;
    width:95%;
    display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content:center;
        align-items:center;

}
.main-image-section {
        width:50%;
        /* margin-left:auto; */
}
.custom-testimonials--{{ section.id }} .splide {
    width: 100%; 
    margin: 0 auto; 
}
.custom-testimonials--{{ section.id }} .splide .splide__slide:nth-child(3) {
    visibility:hidden;
}


@media screen and (max-width:749px){
    .custom-testimonials--{{ section.id }}{
    padding-top : {{ section.settings.padding_top }}px;
    padding-bottom : {{ section.settings.padding_bottom }}px;
    display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:95%;
    
    }
    .main-image-section {
        width:70%;
        display:flex;
        flex-direction:row;
        justify-content:center;
        margin: auto;
        
    }
.main-image{
    width: 300px;
    /* height: auto; */
    height: 300px;
    max-width: 90%;
    display:flex;
        justify-content:center;
        align-items:center;
        margin:auto;

}
.testimonial-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-right: 0px;
}
 .custom-testimonials {
    width:300px;
    /* margin-right: auto; */
}
.splide__track{
    width:350px;
} 
.custom-testimonials--{{ section.id }} .splide__slide{
 /* margin:auto; */
 /* width:450px; */
 margin-left:0;
}
.testimonial-title{
    color: #000;
    font-weight: 500;
    font-size: 28px;
    /* width:200px; */
    text-align:center;
    }
.description{
    font-weight: 300;
    font-size: 14px;
    /* line-height: 21px; */
    width: 100%;
    /* height: 42px; */
    text-align:center;
    margin-bottom:50px;
    margin-top:10px;
}
.testimonial{
    width: 100%;
    /* height: 250px; */
    border: 1px solid #5C6E4A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px ;
    margin-top: 20px;
    /* margin-right : 80px; */
  border-radius: 5px;
     
}
.testimonial-text{
    font-weight: 400;
    font-size: 12px;
    text-align:center;
    width:70%;

}
.author-name{

    font-weight: 400;
    font-size: 14px;
    color: #5C6E4A;
}
.author-title {

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #282824;

}
.author-image{
    width: 45px;
    height: 45px;

}
.custom-testimonials--{{ section.id }} .splide .splide__slide:nth-child(3) {
    visibility:visible;
}
.splide__arrow--next {
    right: 0.1em;
}

}

{% endstyle %}


  
 {%- capture options -%}
{
  "pagination": {{ section.settings.show_pagination }} ,
  "type": "{{ section.settings.Slide_animation }}" ,
  "arrows": {{ section.settings.show_arrows }},
  "autoplay" : {{ section.settings.auto_play }}
}
{% endcapture %}
{% comment %} <div class='custom-testimonials--{{ section.id }}' >
<splider-component class="splide" data-options='{{ options }}'>
    <div class="splide__track">
        <ul class="splide__list">
            {% for block in section.blocks %}
                <li class="splide__slide">
                    <div class="testimonial">
                        {% if block.settings.testimonial_text %}
                            <div class="testimonial-text">{{ block.settings.testimonial_text }}</div>
                        {% endif %}
                        {% if block.settings.author_image %}
                            <img src="{{ block.settings.author_image | image_url }}" width=50 height=50 alt="Author Image">
                        {% endif %}
                        {% if block.settings.author_name %}
                            <div class="author-name">{{ block.settings.author_name }}</div>
                        {% endif %}
                        {% if block.settings.author_title %}
                            <div class="author-title">{{ block.settings.author_title }}</div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</splider-component>
</div> {% endcomment %}

<div class='custom-testimonials--{{ section.id }}' >

    <div class="main-image-section">
    <splider-component class="splide splide-main" data-options='{{ options }}'>
        <div class="splide__track">
            <ul class="splide__list">
                {% for block in section.blocks %}
                    <li class="splide__slide">
                        {% if block.settings.main_image %}
                            <img src="{{ block.settings.main_image | image_url }}" class="main-image" width=200 height=200 alt="Main Image">
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </splider-component>
    </div>



    <div class="testimonial-section">

{% comment %} <div class='custom-testimonials--{{ section.id }}' > {% endcomment %}
    <div class="section-content">
        <h2 class="testimonial-title">{{ section.settings.heading }}</h2>
        <div class="description">{{ section.settings.description }}</div>
    </div>
    <splider-component class="custom-testimonials splide splide-author" data-options='{{ options }}'>
        <div class="splide__track">
            <ul class=" custom-testimonials--splide__list splide__list">
                {% for block in section.blocks %}
                    <li class="splide__slide">
                        <div class="testimonial"  style="background:{{ block.settings.active_card_bg_color }}">
                            {% if block.settings.testimonial_text %}
                                <div class="testimonial-text">{{ block.settings.testimonial_text }}</div>
                            {% endif %}
                            <div class="author-info-container">
                            {% if block.settings.author_image %}
                                <img src="{{ block.settings.author_image | image_url }}" class="author-image" width=50 height=50 alt="Author Image">
                            {% endif %}
                            <div class="author-details">
                            {% if block.settings.author_name %}
                                <div class="author-name">{{ block.settings.author_name }}</div>
                            {% endif %}
                            {% if block.settings.author_title %}
                                <div class="author-title">{{ block.settings.author_title }}</div>
                            {% endif %}
                        </div>
                    </div>

                    </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </splider-component>
{% comment %} </div> {% endcomment %}
</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var splideMain = new Splide('.splide-main', {
            type : "fade",
            rewind: "true",
            perPage:1,
            pagination:false,
            
        });
        
        var splideAuthor = new Splide('.splide-author', {
            type: 'slide',
            rewind: "true",
            {% comment %} perPage:1, {% endcomment %}
            perPage:1.5,
            perMove:1,
            autoPlay:true,
            breakpoints :{
            768 : {
            perPage:1
            },
            480 : {
            perPage :1,
            }
        }
        });

        splideMain.mount();
        splideAuthor.mount();
        splideMain.sync(splideAuthor);
        splideAuthor.sync(splideMain);
    });

    var nextArrow = document.querySelector('.splide__arrow--next');

    nextArrow.addEventListener('click', function() {
        var currentSlideIndex = splideAuthor.index;

        // If the current slide index is 1 (second slide), change its background color to #5C6E4A
        if (currentSlideIndex === 1) {
            document.querySelector('.splide__slide:nth-child(2) .testimonial').style.background = '#5C6E4A';
        }
    });
</script>

{% schema %}
{
    "name":"custom testimonials",
    "tag":"section",
    "class":"Section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "placeholder": "Heading",
            "default": "NEW ARRIVALS"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Testimonials Description</p>"
           },
           {
            "type": "color",
            "id": "section_background",
            "label": "Section Background",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "active_slide_color",
            "label": "Active Slide Color",
            "default" : "#F6FFc2"
        },
        {
            "type": "header",
            "content": "Section padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px",
            "label": "Padding Top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 0
        }
    ],
    "blocks": [
        {
        "type": "slide",
        "name": "slide",
        "settings": [
          {
            "type": "header",
            "content": "Customization options"
          },
          {
            "type": "color",
            "id": "active_card_bg_color",
            "label": "Background color for Active Card",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "card_bg_color",
            "label": "Background color for Card",
            "default": "#f2f2f2"
          },
          {
            "type": "richtext",
            "id": "testimonial_text",
            "label": "Testimonial Text",
            "default": "<p>my testimonials</p>"
          },
          {
            "type": "image_picker",
            "id": "author_image",
            "label": "Author Image"
          },
          {
            "type": "text",
            "id": "author_name",
            "label": "Author Name",
            "default": "John Doe"
          },
          {
            "type": "text",
            "id": "author_title",
            "label": "Author Title",
            "default": "CEO"
          },
          {
            "type": "image_picker",
            "id": "main_image",
            "label": "Main Image"
          }
        ]
    }
    ],
    "presets": [
        {
            "name":"custom testimonials"
        }
    ]
}

{% endschema %}