{{ 'marquee-collections.css' | asset_url | stylesheet_tag }}
<script src="{{ 'marquee-collections.js' | asset_url }}" defer></script>


<div class="custome-marquee">
    <div>
      
        
      <span><img src="{{ 'new-clothing-collection.svg' | asset_url}}" alt="New Collection" width=20 height=20>WOMEN'S CLOTHING COLLECTION</span>
      <a><button class="explore-btn">EXPLORE</button></a>
      
      <span><img src="{{ 'new-collection.svg' | asset_url}}" alt="New Collection" width=20 height=20>NEW COLLECTION</span>
      <a><button class="grab-this-offer-btn">GRAB THIS OFFER</button></a>

      
      <span><img src="{{ 'new-clothing-collection.svg' | asset_url}}" alt="New Collection" width=20 height=20>MEN'S CLOTHING COLLECTION</span>
      <a><button class="explore">EXPLORE</button></a>

      
      <span><img src="{{ 'new-clothing-collection.svg' | asset_url}}" alt="New Collection" width=20 height=20>WOMEN'S CLOTHING COLLECTION</span>
      <a><button class="explore-btn">EXPLORE</button></a>

            
      <span><img src="{{ 'new-collection.svg' | asset_url}}" alt="New Collection" width=20 height=20>NEW COLLECTION</span>
      <a><button class="grab-this-offer-btn">GRAB THIS OFFER</button></a>

      
      <span><img src="{{ 'new-clothing-collection.svg' | asset_url}}" alt="New Collection" width=20 height=20>MEN'S CLOTHING COLLECTION</span>
      <a><button class="explore">EXPLORE</button></a>
         
     </div>
  </div>      
{% schema %}
  {
    "name": "Marquee collection section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Marquee Collections"
      }
    ],
    "blocks": [
      {
        "type": "custom-block",
        "name": "custom-block",
        "settings": [

          {
            "type": "image_picker",
            "id": "image_collection",
            "label": "collection image"
          },
          {
            "type": "text",
            "id": "pre_heading",
            "label": "Pre Heading",
            "default": "Business Formal Choices"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Explore"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button url"
          }
          
        ]
      }
    ],
    "presets": [
      {
        "name": "Marquee collection Section"
      }
    ]
  }
  {% endschema %} 

